<div class="basey">
  <div class="shade" fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="80">
      <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
        <div fxFlex class="shade-text">
          Looking for dev?
        </div>
      </div>


      <!--<img src="assets/TypeScript_logo.svg" alt="typescript logo">-->

    </div>
    <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button aria-label="menu" mat-fab (click)="goDown()" color="primary">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="background-pic">
    <img src="https://images.unsplash.com/photo-1429794890858-d3016a2bb73c?fit=clip&fm=jpg&bg=FFFFFF&w=1920">
  </div>
</div>
