@import "../../../theme/variables";

$shade-hue: 600;

.shade{
  @media #{$break-point-mob} {
    height: $view-port-height-mob;
    &:after{
      top: $nav-tool-bar-height-mob;
    }
    & + .background-pic{
      top: $nav-tool-bar-height-mob;
      height: $view-port-height-mob;
    }
  }
  @media #{$break-point-dt} {
    height: $view-port-height-dt;
    &:after{
      top: $nav-tool-bar-height-dt;
    }
    & + .background-pic{
      top: $nav-tool-bar-height-dt;
      height: $view-port-height-dt;
    }
  }

  z-index: -3;

  .shade-footer{
    span{
      position: relative;
      overflow: hidden;
      display: flex;
    }
    .butt-wrapper{//as in short for button, it wraps a button
      border: 2px solid mat-color($my-app-primary, $shade-hue);
      display: flex;
      position: absolute;
      top: 50%;
      border-top-left-radius: 23em;
      border-top-right-radius: 23em;
      height: 100%;
      width: 100%;
      z-index: 4;
      overflow: hidden;

      button{
        z-index: 4;
        color: mat-color($my-app-primary, $shade-hue);
        height: 50%;
        width: 100%;
        position: absolute;
      }
    }
  }

  &:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
    height: inherit;
    width: 100%;
    background-color: mat-color($my-app-neutral, $shade-hue, 0.45);
  }

  .shade-text{
    z-index: 1;
    text-align: center;
    color: mat-contrast($my-app-neutral, $shade-hue);
    font-family: Verdana, Roboto, "Helvetica Neue", "sans-serif";
    div{
      z-index: 2;
      padding-bottom: 0.3em;
      color: white !important;
      background-color: mat-color($my-app-accent, 1000, 0.7);
      &:first-child{
        padding-top: 0.3em;
      }
    }
  }

  & + .background-pic{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    overflow: hidden;
  }

}
