@import "../../../theme/variables";

$shade-hue: 600;

.shade{
  @media #{$break-point-mob} {
    height: $view-port-height-mob;
    &:after{
      top: $nav-tool-bar-height-mob;
    }
    & + .background-pic{
      top: $nav-tool-bar-height-mob;
      height: $view-port-height-mob;
    }
  }
  @media #{$break-point-dt} {
    height: $view-port-height-dt;
    &:after{
      top: $nav-tool-bar-height-dt;
    }
    & + .background-pic{
      top: $nav-tool-bar-height-dt;
      height: $view-port-height-dt;
    }
  }

  z-index: -3;

  button{
    z-index: 2;
  }

  &:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
    height: inherit;
    width: 100%;
    background-color: mat-color($my-app-neutral, $shade-hue, 0.4);
  }

  .shade-text{
    z-index: 1;
    text-align: center;
    color: mat-contrast($my-app-neutral, $shade-hue);
  }

  & + .background-pic{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    overflow: hidden;
  }

}
