<div>
  <div class="shade" fxLayout="column" fxLayoutAlign="space-between">
    <div fxFlex.xs="90" fxFlex.sm="85" fxFlex.md="20" fxFlex.lg="80">
      <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
        <div fxFlex class="shade-text">
          <div>Just some developer's website.</div>
          <div>{{shadeText}}</div>
        </div>
      </div>
    </div>

    <div fxFlex.xs="10" fxFlex.sm="15" fxFlex.md="20" fxFlex.lg="20">
      <div class="shade-footer" fxFlexFill fxLayout="row" fxLayoutAlign="center stretch">
        <span fxFlex.xs="25" fxFlex.sm="30" fxFlex.md="20" fxFlex.lg="15">
          <div class="butt-wrapper">
            <button aria-label="menu" mat-button (click)="scrollDown()">
              <mat-icon>expand_more</mat-icon>
            </button>
          </div>
        </span>
      </div>
    </div>

  </div>
  <div class="background-pic">
    <media-carousel></media-carousel>
  </div>
</div>
