<mat-toolbar color="accent">
  <h4>Map - <i class="fa fa-exclamation-triangle"></i> in progress, more too come</h4>
</mat-toolbar>
<mat-card>
  <p>Click the map to place pins.  All the pins are tracked through a chiplist.</p>
  <p>Select any two chips to get the distance between the two pins.</p>
  <home-map [markerList]="markerList" (markerListEmit)="markerListAdd(marker)" (mapInitEmitter)="mapInitHandler($event)"></home-map>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Map Controls
      </mat-panel-title>
      <mat-panel-description>
        Adjust defaults
      </mat-panel-description>
    </mat-expansion-panel-header>

    <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
      <mat-checkbox
        [checked]="pushSecondSelected"
        (change)="pushSecondSelected = !pushSecondSelected"
      >
        Overwrite second selected marker instead of first?
      </mat-checkbox>

      <div class="choice-toggle" >
        <mat-slide-toggle
          #toggler
          [checked]="useMetric"
          [labelPosition]="'before'"
          (change)="metricToggleChanged($event)"
        >
          <span [ngClass]="{'toggle-active': !useMetric}">
            Use Not Metric
          </span>
        </mat-slide-toggle>
        <span (click)="extraToggleClick()" [ngClass]="{'toggle-active': useMetric}">
          Use Metric
        </span>
      </div>
    </span>

  </mat-expansion-panel>
  <p>Line distance: {{getDistance() | number:'1.02'}} {{getDistanceLabel()}}</p>
  <mat-form-field>
    Pins:
    <mat-chip-list #chipList [multiple]="true">
      <mat-chip *ngFor="let myMarkerObj of markerList; let i = index" [selectable]="true"
                [removable]="true" (removed)="remove(myMarkerObj, $event)"
                (selectionChange)="selectionChange($event)"
                [value]="myMarkerObj"
                (click)="chipSelectionClick($event, myMarkerObj)"
                (focus)="focused()"
      >
        Marker {{i}} {{myMarkerObj.id}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>

</mat-card>
