<div>
  <mat-toolbar color="accent">
    <h4>Summary</h4>
  </mat-toolbar>
  <mat-card>
    <p>
      I'm a fullstack developer that has a few years of work experience now.  In that time I've learned a lot, but there
      is still lots of knowledge out there to acquire.  Luckily, as someone that is an eager learner and tinkerer,
      it means I shouldn't be getting bored anytime soon.
    </p>
    <p>
      My first foray into programming was with Java and C++, a lot of console apps as you can imagine.
      Early on I stayed away from front end work, though I did play around with Java Swing a bit which looks really dated now.
      I guess I also had some biases toward front end development.
      I had this misconception of front end work being a lot fiddling with static html, a remnant of early web days.
    </p>
    <p>
      While still in school I got really interested in mobile development, programming for a computer in your pocket
      seemed like a nifty idea.  Other than a really terrible HTML page I did for another class, this really exposed me to front
      end design concepts.  A guy in the class showed me something called "quantum paper", something that would evolve into
      material design.
    </p>
    <p>
      After that class I got an opportunity to do more web development
    </p>
  </mat-card>

  <mat-toolbar color="accent">
    <h4>My Story</h4>
  </mat-toolbar>
  <mat-card>
    <p>Hey a map</p>

    <story-map></story-map>

  </mat-card>
</div>
