@import "../../../theme/variables";

$display-hue: 100;

.display-tile-flex-wrap{
  @media #{$break-point-mob} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
  }
  @media #{$break-point-dt} {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
  }

  background-color: mat-color($my-app-primary, $display-hue, 0.6);

  min-height: 30em;
  padding: 0.5em;

  .image-hold{
    padding: 0.5em;

    @media #{$break-point-mob} {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 80%;
    }
    @media #{$break-point-md} {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 75%;
    }
    @media #{$break-point-lg} {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 70%;
    }

    .image-wrapper{
      /*@media #{$break-point-xs} {
        display: block;
      }*/

      display: flex;//working org
      height: 100%;//working org
      width: 100%;//working org
      justify-content: center;
      flex-direction: column;

      img{
        height: auto;
        max-width: 100%;//working org
        max-height: 100%;//working org
      }
    }
  }
}

.tech-heading-top{
  text-align: center;
  h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size: 2em;
    border-bottom: 2px solid mat-color($my-app-accent, 600, 0.8);
  }

  @media #{$break-point-mob} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10%;
    align-self: center;
  }
  @media #{$break-point-dt} {
    display: none;
  }
}

.tech-heading-bot{
  text-align: center;
  h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size: 2em;
    border-bottom: 2px solid mat-color($my-app-accent, 600, 0.8);
  }

  @media #{$break-point-mob} {
    display: none;
  }
  @media #{$break-point-dt} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15%;
    align-self: center;
  }
}

.image-container{
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  @media #{$break-point-mob} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
  }
  @media #{$break-point-md} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }
  @media #{$break-point-lg} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
  }
}

.information-container{
  @media #{$break-point-mob} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }
  @media #{$break-point-md} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }
  @media #{$break-point-lg} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
  }
}

.information-layout{
  display: flex;
  flex-direction: column;
  @media #{$break-point-mob} {
    justify-content: flex-end;
    align-content: stretch;
  }
  @media #{$break-point-dt} {
    justify-content: space-between;
  }
}
.tech-lines-container{
  @media #{$break-point-mob} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }
  @media #{$break-point-dt} {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 85%;
  }
}

.tech-lines-wrap{
  @media #{$break-point-mob} {
    flex-direction: column;
    justify-content: flex-end;
    align-content: stretch;
  }
  @media #{$break-point-dt} {
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
    flex-wrap: wrap;
    align-self: flex-end;
  }
}

.tech-line{
  padding: 0.3em 0;//a bit on top and bottom
  font-size: 1.5em;
  border-top: 1px solid mat-color($my-app-neutral, $display-hue);
  &:last-child{
    border-bottom: 1px solid mat-color($my-app-neutral, $display-hue);
  }
}
