@import "../../../theme/variables";

$display-hue: 100;

.display-tile-flex-wrap{
  /*@media #{$break-point-xs} { max-height: 45vh; }
  @media #{$break-point-sm} { max-height: 45vh; }
  @media #{$break-point-md} { max-height: 45vh; }
  @media #{$break-point-lg} { max-height: 45vh; }*/

  background-color: mat-color($my-app-primary, $display-hue, 0.6);

  min-height: 30em;
  padding: 0.5em;

  .image-hold{
    padding: 0.5em;

    .image-wrapper{
      display: flex;//working org
      height: 100%;//working org
      width: 100%;//working org
      justify-content: center;
      flex-direction: column;

      img{
        height: auto;
        max-width: 100%;//working org
        max-height: 100%;//working org
      }
    }
  }
}

.tech-heading{
  text-align: center;
  h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size: 2em;
    border-bottom: 2px solid mat-color($my-app-accent, 600, 0.8);
  }
}

.tech-line{
  padding: 0.3em 0;//a bit on top and bottom
  font-size: 1.5em;
  border-top: 1px solid mat-color($my-app-neutral, $display-hue);
  &:last-child{
    border-bottom: 1px solid mat-color($my-app-neutral, $display-hue);
  }
}
