@import "../../../theme/variables";

$display-hue: 100;

.display-tile-flex-wrap{
  /*@media #{$break-point-xs} {

  }

  @media #{$break-point-sm} {

  }
  @media #{$break-point-md} {

  }

  @media #{$break-point-lg} {
    height: 45vh;
  }*/
  background-color: mat-color($my-app-primary, $display-hue, 0.6);

  min-height: 30em;
  border: 1px black solid;
  padding: 0.5em;


  .tech-information{
    /*.tech-line{
      //height: 3em;
      font-size: 1.5em;
      .tech-line + .tech-line{
        border-bottom: 1px solid red;
      }
    }*/
  }

  .image-hold{

    .image-wrapper{
      display: flex;//working
      //height: inherit;//working
      //width: auto;//working
      height: 100%;
      width: 100%;

      img{
        //width: 100%;//working
        width: inherit;
        max-width: 100%;
        max-height: 100%;
      }
    }

  }
}

.tech-heading{
  text-align: center;
  h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size: 2em;
    &:after{
      content:'';
      display: block;
      border-bottom: 2px solid mat-color($my-app-accent, 600, 0.8);
    }
  }
}

.tech-line{
  //height: 3em;
  padding: 0.3em 0;
  font-size: 1.5em;
  border-top: 1px solid mat-color($my-app-neutral, $display-hue);
  &:last-child{
    border-bottom: 1px solid mat-color($my-app-neutral, $display-hue);
  }
}
