<div>
  <mat-toolbar color="accent">
    <h4>Responsive Tile Layout | Elements:</h4>
    <div fxFlex>{{tileArray.length}}</div>
    <button mat-button (click)="fewerTiles()">
      <span>Less Tiles</span>
    </button>
    <button mat-button (click)="moreTiles()">
      <span>More Tiles</span>
    </button>
  </mat-toolbar>
  <mat-card>
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center">
      <screen-tile fxFlex.xs="1 1 100%" fxFlex.sm="1 1 50%" fxFlex.md="1 1 33%" fxFlex.lg="1 1 25%" fxFlex.xl="1 1 20%" *ngFor="let val of tileArray">
        <div >
          {{val}}
        </div>
      </screen-tile>
    </div>
  </mat-card>

</div>
