@import "app-theme";

$app-line-height: 2em;

$nav-tool-bar-height-dt: 7vh;
$view-port-height-dt: 93vh;

$nav-tool-bar-height-mob: 0;
$view-port-height-mob: 100vh;

$break-point-xs: "screen and (max-width: 599px)";
$break-point-sm: "screen and (min-width: 600px) and (max-width: 959px)";
$break-point-md: "screen and (min-width: 960px) and (max-width: 1279px)";
$break-point-lg: "screen and (min-width: 1280px)";

$break-point-mob: "screen and (max-width: 959px)";
$break-point-dt: "screen and (min-width: 960px)";
