<div>
  <mat-sidenav-container class="nav-drawer-container">
    <mat-sidenav #sidenav mode="over" (click)="sidenav.toggle()">
      <mat-nav-list fxLayout="column" fxLayoutAlign="space-between">
        <mat-list-item>
          <button mat-button color="accent">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </mat-list-item>

        <!--<mat-list-item routerLink="oauthreturn">
          <a >Auth return</a>
        </mat-list-item>-->

        <mat-list-item routerLink="home">
          <a >Home</a>
        </mat-list-item>


        <mat-list-item routerLink="about">
          <span>About</span>
        </mat-list-item>

        <mat-list-item *ngIf="isSignedIn" (click)="logout()">
          <div>Logout</div>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>

    <div class="body-content">
      <mat-toolbar class="full-nav" fxShow.gt-md fxHide.lt-md color="primary">
        <span fxLayout="row" fxLayoutAlign="space-between center">
          <button fxFlex="{{FLEX_LAYOUT.NO_GROW}}" mat-button (click)="sidenav.toggle()" color="accent">
            <mat-icon>menu</mat-icon>
          </button>

          <div fxFlex.gt-sm="20%" fxFlex.gt-md="15%" fxFlex.gt-lg="15%">
            <span fxLayout="row" fxLayoutAlign="space-between center">
              <google-signin (authInitializedEmitter)="authInitializedHandler($event)" (signedInState)="updateStatus($event)"></google-signin>

              <button fxFlex="{{FLEX_LAYOUT.NO_GROW}}" mat-fab routerLink="/">
                <mat-icon>home</mat-icon>
              </button>
            </span>
          </div>
        </span>
      </mat-toolbar>

      <div fxShow.lt-md fxHide.gt-md class="mobile-nav">
        <button mat-fab (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="app-content">
        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="75%" fxFlex.lg="75%" fxFlex.xl="66%">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>

  </mat-sidenav-container>

</div>
