<mat-toolbar class="full-nav" fxShow.gt-md fxHide.lt-md color="primary">
    <span fxLayout="row" fxLayoutAlign="space-between center">
      <button aria-label="menu" fxFlex="{{FLEX_LAYOUT.NO_GROW}}" mat-button (click)="closeNav()" color="accent">
        <mat-icon>menu</mat-icon>
      </button>

      <div fxFlex.gt-sm="20%" fxFlex.gt-md="15%" fxFlex.gt-lg="15%">
        <span fxLayout="row" fxLayoutAlign="space-between center">
          <google-signin (authInitializedEmitter)="authInitializedHandler($event)" (signedInState)="updateStatus($event)"></google-signin>

          <button fxFlex="{{FLEX_LAYOUT.NO_GROW}}" mat-fab routerLink="/">
            <mat-icon>home</mat-icon>
          </button>
        </span>
      </div>
    </span>
</mat-toolbar>
