// import app theme
@import './theme/app-theme';
@import './theme/variables';

body{
  background-color: mat-color($my-app-primary, 50);
  margin: 0;
  font-family: Roboto, Verdana, "Helvetica Neue", "sans-serif";
}

.cardless-header{
  padding: 1px;
  border-left: 2px solid mat-color($my-app-primary, 600);
  border-top: 2px solid mat-color($my-app-primary, 600);
}

.mat-sidenav-content,
.mat-sidenav-container,
.mat-drawer-content {
  transform: none !important;
}

mat-sidenav-container{
  .mat-drawer-backdrop.mat-drawer-shown{
    position: fixed;
    top: 0;
    left: 0;
    background-color: mat-color($my-app-primary, 200, .5);
  }

  mat-nav-list{
    mat-list-item{
      width: 100%;
      .mat-list-item-content{
        color: mat-contrast($my-app-primary, $nav-list-items-hue);
      }
      border-bottom: 1px solid mat-contrast($my-app-primary, $nav-list-items-hue);//bottom border
      &:last-child{
        border-bottom: none;//except on last
      }
    }
  }

  .mobile-nav{
    padding: 0.3em 0 0 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  mat-sidenav.mat-drawer.mat-sidenav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: mat-color($my-app-primary, $nav-list-items-hue);

  }
}

mat-toolbar.full-nav{
  background-color: mat-color($my-app-primary, $top-nav-hue);
  position: fixed;
  min-height: $nav-tool-bar-height-dt;
  top: 0;
  left: 0;
  z-index: 10;
  .mat-toolbar-layout{
    height: $nav-tool-bar-height-dt;
    & span{
      width: inherit;
    }
    mat-toolbar-row{
      height: $nav-tool-bar-height-dt;
    }
  }
}

mat-card{
  @media #{$break-point-xs} {
    padding: 0.1em !important;
  }

  @media #{$break-point-sm} {
    padding: 0.2em !important;
  }

  @media #{$break-point-md} {
    padding: 0.75em !important;
  }

  @media #{$break-point-lg} {
    padding: 0.75em !important;
  }
}

screen-tile{
  @media #{$break-point-xs} {
    padding: 0.1em;
  }

  @media #{$break-point-sm} {
    padding: 0.2em;
  }

  @media #{$break-point-md} {
    padding: 0.25em;
  }

  @media #{$break-point-lg} {
    padding: 0.25em;
  }
}
