@import "../../theme/variables";

display-tile + display-tile{
  @media #{$break-point-mob} {
    margin-top: 0.55em;
  }

  @media #{$break-point-dt} {
    margin-top: 0.75em;
  }
}

.small-text{
  font-size: 75%;
  font-style: italic;
}
