<div>
  <mat-toolbar color="accent">
    <h4>Overview</h4>
  </mat-toolbar>
  <mat-card>
    <h4>
      This site
    </h4>
    <p>
      So why is this site even here?  Well, not only to show off my skills, but a few other reasons.
      I've never really built a site for myself so that was part of it.  I've also been wanting to play around with
      Oauth, so that was fun.
    </p>
    <p>
      Though the biggest thing is I wanted to play around with is Progressive Web Apps and this
      site is one (if I have everything setup correctly).
    </p>
    <p class="small-text">
      *Disclaimer* Trying to run a lighthouse audit will fail, I had to do some goofy path things for Github pages(since I'm not at the domain root).
      What will work, though is the actual fact that this is a PWA.  Go visit some pages let the service worker cache things up and come back when you are offline.
    </p>
    <h4>
      Me
    </h4>
    <p>
      Fullstack developer with experience in web and mobile applications development.  This site should look good on anything except Internet Explorer.
      Though still have some Firefox bugs to go through.
    </p>
    <p>
      Have only worked in Agile environments.  Always an eager learner, and seeker of new knowledge.  More in <a [routerLink]="['/base/about']">About</a>
    </p>
    <p>
      Check out some of the tech I know below, or take a look here at some stuff: <a [routerLink]="['/base/tech-demos']">Tech demos</a>
    </p>
  </mat-card>

  <div>
    <div fxLayout="row">
      <h4 fxFlex="nogrow" class="cardless-header">Tech Skills</h4>
    </div>
    <div fxLayout="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="1%" fxLayoutGap.xs="2%">
      <display-tile fxFlex="0 1 auto" *ngFor="let techInfo of techInfoArray; let i = index" [text]="i" [displayData]="techInfo"></display-tile>
    </div>
  </div>
</div>
