<div>

  <mat-toolbar color="accent">
    <h4>Tech Skills</h4>
    <button mat-button (click)="scrawlYa()">
      <span>More</span>
    </button>
  </mat-toolbar>

  <div>
    <div fxLayout="column" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="1%" fxLayoutGap.xs="2%">
      <display-tile fxFlex="0 1 auto" *ngFor="let techInfo of techInfoArray; let i = index" [text]="i" [displayData]="techInfo"></display-tile>
    </div>
  </div>

  <mat-toolbar color="accent">
    <h4>Home</h4>
  </mat-toolbar>
  <mat-card>
    <p>I swear I had something for this too.</p>
    <p>
      <img src="assets/Angular_logo.svg" alt="typescript logo">
    </p>

  </mat-card>
</div>
