@import "../../../theme/variables";

$footer-hue: 900;
.app-footer{
  margin-top: 2em;
  width: 100%;
  height: 100%;
}

.app-footer-wrap{
  padding: 1.5em 0.5em 1em;
  color: mat-color($my-app-neutral, 100, 0.6);
  background-color: mat-color($my-app-primary, $footer-hue);
  font-size: 0.9em;
  .actual-cr{
    margin: 0.5em 0;
  }
}

.icons-section{
  a{
    color: mat-color($my-app-neutral, 100, 0.6);
    :visited{
      color: initial;
    }
    :link{
      color: initial;
    }
    :hover{
      color: mat-color($my-app-accent, 300)
    }
  }
  span + span{
    margin-left: 1em;
  }
}
