<div>
  <mat-sidenav-container class="nav-drawer-container">
    <mat-sidenav #sidenav mode="over" (click)="sidenav.toggle()">
      <mat-nav-list fxLayout="column" fxLayoutAlign="space-between">
        <mat-list-item>
          <button aria-hidden="true" mat-button color="accent">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </mat-list-item>

        <!--<mat-list-item [routerLink]="['/base/oauthreturn']">
          <a >Auth return</a>
        </mat-list-item>-->

        <mat-list-item [routerLink]="['/base/home']">
          <a><i class="fa fa-home fa-lg"></i> Home</a>
        </mat-list-item>

        <mat-list-item [routerLink]="['/base/map-stuff']">
          <a><i class="fa fa-globe fa-lg"></i> Map</a>
        </mat-list-item>

        <mat-list-item [routerLink]="['/base/tech-demos']">
          <a><i class="fa fa-cogs fa-lg"></i> Tech Demos</a>
        </mat-list-item>

        <mat-list-item [routerLink]="['/base/about']">
          <span><i class="fa fa-rebel fa-lg"></i> About</span>
        </mat-list-item>

        <mat-list-item *ngIf="isSignedIn" (click)="logout()">
          <div>Logout</div>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>

    <div class="body-content">
      <app-nav (navToggle)="sidenav.toggle()" (signedInState)="updateStatus($event)" (navHeightSize)="updateNavHeight($event)"></app-nav>

      <media-shade [shadeText]="displayText" (scrollPast)="scrollHandler($event)"></media-shade>

      <div fxLayout="row" fxLayoutAlign="center center" class="app-content">
        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="75%" fxFlex.lg="75%" fxFlex.xl="66%">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>

    <app-footer></app-footer>

  </mat-sidenav-container>
</div>
