<div>
  <mat-sidenav-container class="nav-drawer-container">
    <mat-sidenav #sidenav mode="over" (click)="sidenav.toggle()">
      <nav-list></nav-list>
    </mat-sidenav>

    <div class="body-content">
      <app-nav (navToggle)="sidenav.toggle()" (signedInState)="updateStatus($event)" (navHeightSize)="updateNavHeight($event)"></app-nav>

      <media-shade [shadeText]="displayText" (scrollPast)="scrollHandler($event)"></media-shade>

      <div fxLayout="row" fxLayoutAlign="center center" class="app-content">
        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="75%" fxFlex.lg="75%" fxFlex.xl="66%">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>

    <app-footer></app-footer>

  </mat-sidenav-container>
</div>
